<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 파비콘(favicon) 설정 링크 -->
<link rel="shortcut icon" href="http://localhost/images/favicon.ico"/>

<!-- 부트스트랩  CDN -->    
<link rel="stylesheet" type="text/css"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"/>
<style type="text/css">

</style>

<!-- JQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js">
</script>

<script type="text/javascript">
$(function(){
	
}); //ready
</script>
</head>
<body>
<a th:href="@{/admin/dashboard}">대시보드</a>
<a th:href="@{/admin/user_list}">사용자관리</a>
<div>
아주 멋진 대시보드<br>
의사 결정에 반영해주세요.
</div>
</body>
</html>